/* .wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 90px, 30px;
} */
.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.wrapper button {
  padding: 20x 30px;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.accordian {
  width: 500px;
  height: 350px;
}
.item {
  background: black;
  display: flex;
  padding: 30px 40px;
  color: white;
}
.title {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.content {
  color: white;
  height: auto;
}
