.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.QRbutton {
  background-color: black;

  color: white;
  padding: 10px 20px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
